---
http_interactions:
- request:
    method: get
    uri: http://umich.edu/~carrickr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://www-personal.umich.edu/~carrickr
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="http://www-personal.umich.edu/~carrickr">here</a>.</p>

        </body></html>

'
  recorded_at: Mon, 10 Nov 2014 20:05:51 GMT
- request:
    method: get
    uri: http://www-personal.umich.edu/~carrickr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://www-personal.umich.edu/~carrickr/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="http://www-personal.umich.edu/~carrickr/">here</a>.</p>

        </body></html>

'
  recorded_at: Mon, 10 Nov 2014 20:05:53 GMT
- request:
    method: get
    uri: http://www-personal.umich.edu/~carrickr/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<HTML>\r\n\r\n<HEAD>\r\n<TITLE>Why are you reading this...?</TITLE>\r\n</HEAD>\r\n\r\n<frameset
        rows=\"60,*\" scrolling=\"no\" border=0>\r\n  <frame src=\"Frames/Main/maintop.html\"
        />\r\n  <frame src=\"content.html\" />\r\n\r\n\r\n  <noframes>\r\n    <body>\r\n
        \     Noframes content...\r\n    </body>\r\n  </noframes>\r\n\r\n</frameset>\r\n\r\n\r\n</HTML>"
  recorded_at: Mon, 10 Nov 2014 20:05:53 GMT
recorded_with: VCR 2.9.3
